.clients {
    background: #EBEBEB;
    &__container {
        display: flex;
        flex-direction: column;
        padding: 100px 0 220px 0;
    }
    &__title {
        padding-bottom: 40px;
    }
    &__subtitle {
        padding-bottom: 80px;
    }
    &__slider {
        position: relative;
    }
    &__slider .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 60px;
        height: 60px;
        margin-top: 50px;
        border: none;
        font-size: 0;
        background: rgb(0, 95, 163);
        opacity: 0.2;
    }  
    &__slider .slick-arrow.slick-prev {
        top: 100%;  
        right: 60px;
    } 
    &__slider .slick-arrow.slick-prev::after {
        content: url(../image/arrow-carusel.svg);
    }
    &__slider .slick-arrow.slick-next {
        top: 100%;
        right: 0;
    }
    &__slider .slick-arrow.slick-next::after {
        content: url(../image/arrow-carusel-next.svg);
    }
    &__slider .slick-arrow:hover {
        border: none;
        background: rgb(0, 95, 163);
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
    } 
    &__slider .slick-dots{
        position: absolute;
        top: 110%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider .slick-dots li{
        margin-right: 40px;
    }
    &__slider .slick-dots button{
        font-size: 0;
        margin: 90px 0;
        width: 10px;
        height: 10px;
        background-color:rgb(0, 95, 163);
        opacity: 0.4;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    &__slider .slick-dots li.slick-active button{
        background-color: #005FA3;;
        opacity: 1;
    }
    &__slider-item {
        display: flex;
        justify-content: space-between;
    }
    &__image-company {
        width: 23%;
    }
    &__image-company:hover {
        transform: scale(1.1);
    }
}
@media (min-width: 750px) and (max-width: 1199px) {
    .clients {
        &__container {
            width: 100%;
            padding: 40px 0 150px 0;
        }
        &__info {
            margin-left: 20px;
        }
        &__slider {
            margin: 0 20px;
        }
        &__slider .slick-dots{
            top: 135%;
        }
        &__slider .slick-dots button{
            margin:  0;
        }
        &__slider-item {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__image-company {
            width: 255px;
        }
    }
}
@media (min-width: 320px) and (max-width: 749px) {
    .clients {
        &__container {
            width: 100%;
            padding: 80px 0 80px 0;
        }
        &__info {
            margin-left: 20px;
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 22px;
            padding-bottom: 40px;
        }
        &__slider {
            margin: 0 20px;
        }
        &__slider .slick-arrow {
            visibility: hidden;
        }
        &__slider .slick-dots{
            height: 0;
            width: 100%;
            top: 105%;
            left: 5%;
        }
        &__slider-item {
            height: auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__image-company {
            width: 200px;
        }
    }
}