.main {
    background: center url(../image/main-background.png) no-repeat;
    &__container {
        width: 1115px;
        height: 670px;
        margin: auto;
    }
    &__slider {
        position: relative;
    }
    &__slider .slick-arrow {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        z-index: 10;
        font-size: 0;
        border: none;
        opacity: 0.8;
        background: rgb(0, 95, 163);
    }  
    &__slider .slick-arrow.slick-prev {
        top: 100%;
        right: 60px;
    }
    &__slider .slick-arrow.slick-prev::after {
        content: url(../image/arrow-carusel.svg);
        opacity: 1;
    }
    &__slider .slick-arrow.slick-next {
        top: 100%;
        right: 0;
    }
    &__slider .slick-arrow.slick-next::after {
        content: url(../image/arrow-carusel-next.svg);
    }
    &__slider .slick-arrow:hover {
        border: none;
        background: rgb(0, 95, 163);
        opacity: 1;
        transform: scale(1.1);
        cursor: pointer;
        content: url(../image/arrow-carusel-next.svg);
    } 
    &__slider .slick-dots{
        position: absolute;
        top: 110%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider .slick-dots li{
        margin-right: 40px;
    }
    &__slider .slick-dots button{
        width: 10px;
        height: 10px;
        cursor: pointer;
        font-size: 0;
        background-color: rgb(255, 255, 255);
        opacity: 0.4;
        border: none;
        border-radius: 50%;
    }
    &__slider .slick-dots li.slick-active button{
        background-color: rgb(255, 255, 255);
        opacity: 1;
    }
    &__slider-item {
        margin: 170px 525px 70px 0;
        max-width: 590px;
    }
    &__title {
        font: 700 48px/66px 'Merriweather', serif;
        color: #FFFFFF;
        padding-bottom: 80px;
    }
    &__link {
        display: block;
        width: 270px;
        height: 60px;
        background: #005FA3;
        font: 400 18px/25px 'Lato', sans-serif;
        text-align: center;
        padding-top: 15px;
        color: #FFFFFF;
    }
    &__link:hover {
        background: #0178cc;
    }
}
@media (min-width: 979px) and (max-width: 1199px) {
    .main {
        &__container {
            width: 100%;
        }
        &__slider {
            margin: 0 20px;
        }
        &__slider .slick-dots{
            top: 105%;
        }
        &__slider-item {
            margin: 170px 525px 70px 0;
            max-width: 590px;
        }
    }
}
@media (min-width: 750px) and (max-width: 978px) {
    .main {
        &__container {
            width: 100%;
            height: 450px;
        }
        &__slider {
            margin: 0 20px;
        }
        &__slider .slick-arrow.slick-prev {
            top: 100%;
        }
        &__slider .slick-dots{
            top: 110%;
        }
        &__slider-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60px;
            margin: auto;
            width: 700px;
        }
        &__title {
            font-size: 36px; 
            text-align: center;
            padding-bottom: 60px;
        }
        &__link {
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 320px) and (max-width: 749px) {
    .main {
        &__container {
            width: 100%;
            height: 525px;
        }
        &__slider {
            margin: 0 20px;
        }
        &__slider .slick-arrow {
            visibility: hidden;
        }
        &__slider .slick-dots{
            margin: auto;
            width:100%;
            top: 100%;
            left: 5%;
        }
        &__slider-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
            margin: auto;
            width: 700px;
        }
        &__title {
            font-size: 28px; 
            text-align: center;
            padding-bottom: 60px;
        }
        &__link {
            margin-bottom: 40px;
        }
    }
    .slick-arrow.slick-next{
        display: none;
    }
}