.services {
    background: #EBEBEB;
    &__info {
        margin: 140px 0 140px 0;
    }
    &__title {
        color: #BDBDBD;
    }
    &__subtitle {
        margin: 40px 0 100px 0;
        color: #333333;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        background: url(../image/section-services-item-background-disable.png);
        width: 350px;
        height: 360px;
    }
    &__item:hover {
        background: url(../image/section-services-item-background.png);
        cursor: pointer;
    }
    &__description {
        padding: 0 0 45px 45px;
        font: 900 24px/30px 'Lato', sans-serif;
        color: #FFFFFF;
    }
}
@media (min-width: 600px) and (max-width: 1199px) {
    .services {
        &__info {
            margin: 80px 20px 80px 20px;
        }
        &__title {
            font: 900 20px/33px 'Lato', sans-serif;
            color: #BDBDBD;
        }
        &__subtitle {
            margin: 40px 0 80px 0;
            font: 900 36px/69px 'Merriweather', sans-serif;
            color: #333333;
        }
        &__content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__item {
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;
            background: url(../image/section-services-item-background-disable.png);
            width: 350px;
            height: 360px;
        }
        &__item:hover {
            background: url(../image/section-services-item-background.png);
            cursor: pointer;
        }
        &__description {
            padding: 0 0 45px 45px;
            font: 900 22px/30px 'Lato', sans-serif;
            color: #FFFFFF;
        }
    }
}
@media (min-width: 320px) and (max-width: 599px) {
    .services {
        &__info {
            margin: 40px 20px 40px 20px;
        }
        &__title {
            font: 900 18px/22px 'Lato', sans-serif;
            color: #BDBDBD;
        }
        &__subtitle {
            margin: 40px 0 40px 0;
            font: 900 22px/30px 'Merriweather', sans-serif;
            color: #333333;
        }
        &__content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            display: flex;
            align-items: flex-end;
            margin-bottom: 15px;
            background: center url(../image/section-services-item-background-disable.png);
            width: 280px;
            height: 280px;
        }
        &__item:hover {
            background: center url(../image/section-services-item-background.png);
            cursor: pointer;
        }
        &__description {
            padding: 0 0 25px 10px;
            font: 900 16px/30px 'Lato', sans-serif;
            color: #FFFFFF;
        }
    }
}